{# templates/navbar.html.twig #}
<nav class="bg-gray-800 p-4">
    <div class="container mx-auto flex justify-between items-center">
        <a class="text-white text-lg font-bold" href="{{ path('app_post_index') }}">NewsIt</a>
        
        {% if app.user %}
            <div class="text-white">
                <a href="{{ path('app_user_show', {'id': app.user.id}) }}" class="hover:underline"><svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512"><path fill="#f1f4f8" d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/></svg></a>
            </div>
        {% endif %}
    </div>
</nav>
