{% extends 'base.html.twig' %}

{% block title %}Post index{% endblock %}

{% block head %}
    {{ parent() }}
    <!-- Ajoutez le CDN de Tailwind CSS -->
{% endblock %}

{% block body %}
    <h1 class="text-3xl  font-bold underline mb-6">Posts</h1>

    {% for post in posts %}
        <div class="mb-6 p-4 border rounded shadow-lg text-center">
            <h2 class="text-xl font-semibold mb-2">Titre: </h2>
            <div class="mb-3">{{ post.title }}</div>

            <h2 class="text-xl font-semibold mb-2">Content: </h2>
            <div>{{ post.content }}</div>

            <div class="mt-6">
                <a href="{{ path('app_post_show', {'id': post.id}) }}" class="text-blue-500 hover:underline">Show</a>
           

            </div>
        </div>
    {% else %}
        <p class="text-gray-600">No records found</p>
    {% endfor %}
    
{% endblock %}
